style.css

body { 
	font-family: 'Arial';	
}

h1 {
	text-align: center;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 16px;
}

.left {
  background-color: none;
}

.right {
  background-color: none;
}
