style.css

body { 
	font-family: 'Arial';
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  color: white;
  cursor: pointer;
  color: black;
  display: inline-block;
  margin: 20px;
}

h1 {
	text-align: center;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 16px;
}

.left {
  background-color: none;
}

.right {
  background-color: none;
}
